/* default styles */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

/* color variables */
:root {
    --yellow: #F19201;
}

/* hero section */
.hero-section{
    background-image: url("../images/image2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* header */
.header{
    background-color: rgba(0, 0, 0, .5);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 12px;
    padding-bottom: 12px;
}

/* logo */
#logo{
    display: flex;
    font-size: 18px;
    color: var(--yellow);
    font-weight: 900;
    align-items: center;
    position: relative;
}

#logo div > img{
    max-width: 50%;
    position: relative;
}

#logo-text{
    position: relative;
    right: 30px;
}

/* nav menu */
#nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 72px;
}

#menu{
    display: flex;
    justify-content: space-between;
    color: white;
    gap: 48px;
    font-weight: bold;
    font-size: 18px;
    list-style: none;
}

#menu :first-child{
    color: var(--yellow);
}

/* header button */
#btn-moringa{
    border: none;
    font-size: 18px;
    color: white;
    font-weight: bold;
    background-color: var(--yellow);
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 24px;
    height: 48px;
    padding-right: 24px;
}

/* hero content section */
.hero-content-section{
    display: flex;
    justify-content: space-between;
    padding-left: 70px;
    color: white;
    padding-top: 160px;
    padding-bottom: 160px;
}

/* hero left */
#hero-left{
    font-size: 48px;
    font-weight: bold;
}

/* order now */
#order-now{
    background-color: var(--yellow);
    color: white;
    border: none;
    margin-top: 72px;
    font-size: 18px;
    font-weight: bolder;
    height: 55px;
    width: 30%;
}

/* services section */
.services-section{
    background-color: #E5E5E5;
    padding-top: 48px;
}

/* services heading */
.services-section > :first-child{
    text-align: center;
    font-size: 30px;
    font-weight: 550;
    letter-spacing: 1px;
    color: var(--yellow);
}