/* default styles */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

/* color variables */
:root {
    --yellow: #F19201;
}

/* hero section */
.hero-section{
    background-image: url("../images/image2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* header */
.header{
    background-color: rgba(0, 0, 0, .5);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 12px;
    padding-bottom: 12px;
}

/* logo */
#logo{
    display: flex;
    font-size: 18px;
    color: var(--yellow);
    font-weight: 900;
    align-items: center;
    position: relative;
}

#logo div > img{
    max-width: 50%;
    position: relative;
}

#logo-text{
    position: relative;
    right: 30px;
}

/* nav menu */
#nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 72px;
}

#menu{
    display: flex;
    justify-content: space-between;
    color: white;
    gap: 48px;
    font-weight: bold;
    font-size: 18px;
    list-style: none;
}

#menu :first-child{
    color: var(--yellow);
}

/* header button */
#btn-moringa{
    border: none;
    font-size: 18px;
    color: white;
    font-weight: bold;
    background-color: var(--yellow);
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 24px;
    height: 48px;
    padding-right: 24px;
}

/* hero content section */
.hero-content-section{
    display: flex;
    justify-content: space-between;
    padding-left: 70px;
    color: white;
    padding-top: 160px;
    padding-bottom: 160px;
}

/* hero left */
#hero-left{
    font-size: 48px;
    font-weight: bold;
}

/* order now */
#order-now{
    background-color: var(--yellow);
    color: white;
    border: none;
    margin-top: 72px;
    font-size: 18px;
    font-weight: bolder;
    height: 55px;
    width: 30%;
}

/* services section */
.services-section{
    background-color: #E5E5E5;
    padding-top: 48px;
    padding-bottom: 62px;
}

/* services heading */
.services-section > :first-child{
    text-align: center;
    font-size: 30px;
    font-weight: 550;
    letter-spacing: 1px;
    color: var(--yellow);
    margin-bottom: 36px;
}

/* services description */
.services-section > :nth-child(2){
    text-align: center;
    color:black;
    font-style: italic;
    line-height: 26px;
    font-size: 18px;
}

/* services cards */
#services-cards{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 30px;
    margin-top: 48px;
}
.services-card{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 340px;
}

/* card number */
.card-number{
    background-color: var(--yellow);
    border-radius: 50%;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    display: flex;
    align-items: center;
    color: white;
    width: 70px;
    height: 70px;
    justify-content: center;
    margin-top: 23px;
    margin-bottom: 30px;
}

/* card title */
.card-title{
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 20px;
}

/* card description */
.card-description{
    font-weight: 400;
    font-style: italic;
    font-size: 18px;
    text-align: center;
    margin-bottom: 70px;
}

/* reviews section */
.reviews-section{
    color: white;
    display: flex;
}

/* reviews left */
.reviews-section > :first-child{
    width: 45%;
}

/* reviews right */
.reviews-section > :last-child{
    background-color: black;
    width: 60%;
}

.reviews-section > :first-child img{
    max-width: 100%;
}

/* reviews */
#reviews{
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
    margin-bottom: 4px;
}

#reviews > :first-child{
    font-weight: 400;
    font-size: 60px;
}

/* reviews title */
#reviews-title{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* underline */
#underline{
    margin-top: 18px;
    margin-bottom: 70px;
    height: 3px;
    width: 10%;
    background-color: white;
}

/* sub-title */
#reviews > :nth-child(2){
    font-weight: 500;
    font-size: 30px;
    text-align: center;
    margin-bottom: 40px;
}

/* description */
#reviews > :nth-child(3){
    text-align: center;
    font-style: italic;
    font-size: 18px;
}

/* author */
#reviews > :nth-child(4){
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    margin-top: 50px;
}

/* restaurant menu */
.restaurant-menu-section{
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #E5E5E5;
}

/* restaurant menu title */
.restaurant-menu-section > :first-child{
    color: var(--yellow);
    font-weight: 500;
    font-size: 30px;
    margin-bottom: 24px;
}

/* restaurant menu description */
.restaurant-menu-section > :nth-child(2){
    font-weight: 400;
    font-style: italic;
    font-size: 18px;
    text-align: center;
    margin-bottom: 56px;
}

/* menu section cards section */
.restaurant-menu-section-cards{
    display: flex;
    justify-content: space-between;
    gap: 72px;
    flex-direction: row;
    flex-wrap: wrap;
}

/* menu section card */
.menu-section-card{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    width: 586px;
    background-color: white;
    flex: 1 1 33%;
}

/* menu card left */
.menu-section-card > :first-child{
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    width: 50%;
    margin-left: -14px;
}

/* menu card image */
.menu-section-card img{
    max-width: 100%;
}

/* menu card title */
.menu-card-title{
    font-weight: 500;
    font-size: 30px;
    margin-bottom: 28px;
}

/* menu card description */
.menu-card-description{
    font-weight: 300;
    font-size: 20px;
    font-style: italic;
    margin-bottom: 28px;
}

/* price */
.menu-card-price{
    color: var(--yellow);
    font-weight: 500;
    font-size: 21px;
    margin-bottom: 27px;
}

/* order button */
.menu-card-button{
    background-color: #E5E5E5;
    width: 130px;
    height: 41px;
    color: black;
    font-size: 17px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
    border: none;
}