/* default styles */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* hero section */
.hero-section{
    background-image: url("../images/image2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* header */
.header{
    background-color: rgba(0, 0, 0, .7);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 70px;
    padding-right: 70px;
}